{% extends 'base.html' %}

{% block title %}Customer Login - Senthur Traders {% endblock %}
{% block head %}
    <style>
        body{
            background-color:#cdecc7;
        }
        .card{
            background-color:#3b064d;
            color:#cdecc7;
        }
    </style>
{% endblock %}
{% block body %}

<div class="container-fluid h-100 align-items-center">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-sm-8 col-md-6 col-lg-4 align-self-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center mb-3">Customer Login</h5>
            <form action="/logincus" method="POST">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" required>
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <a href="#">Forgot Password?</a>
              </div>
              <button type="submit" class="btn btn-primary d-block w-100">Login</button>
            </form>
            <div class="text-center mt-3">
              Don't have an account? <a href="/signup">Sign up</a>
            </div>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                  Username or password is incorrect.
                </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}