{% extends 'base.html' %}

{% block title %}ORDER CONFIRM - Senthur Traders {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Order Confirm</h4>
          </div>
          <div class="card-body">
            <div class="row mb-4">
                <div class="col-4">Product ID:</div>
                <div class="col-8" name="product_id">{{ product[0] }}</div>
              </div>
            <div class="row mb-4">
              <div class="col-4">Product Name:</div>
              <div class="col-8">{{ product[1] }}</div>
            </div>
            <div class="row mb-4">
              <div class="col-4">Brand:</div>
              <div class="col-8">{{ product[2] }}</div>
            </div>
            <div class="row mb-4">
              <div class="col-4">Bag (in kg):</div>
              <div class="col-8">{{ product[3] }}</div>
            </div>
            <div class="row mb-4">
              <div class="col-4">Availability:</div>
              <div class="col-8">{{ product[4] }}</div>
            </div>
            <div class="row mb-4">
              <div class="col-4">Rate (per quantity):</div>
              <div class="col-8">{{ product[5] }}</div>
            </div>
            <div class="row mb-4">
              <div class="col-4">Order:</div>
              <div class="col-8 d-flex align-items-center">
                <button type="button" class="btn btn-secondary minus-btn mx-2">-</button>
                <input type="text" name="total_product" class="form-control qty-input" value="1" min="1" max="{{ product[4] }}" style="width: 80px;" disabled>
                <button type="button" class="btn btn-secondary plus-btn mx-2">+</button>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-4">Total Order Amount:</div>
              <div class="col-8 total-amount">{{ product[5] }}</div>
            </div>
            <div class="text-center">
                <form method="POST" action="/order_done/">
                    <input type="hidden" name="product_id" value="{{ product[0] }}">
                    <input type="hidden" name="total_product" class="qty-input" value="1">
                    <button type="submit" class="btn btn-primary btn-lg place-order-btn">Place Order</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      // get initial values
      var rate = parseFloat('{{ product[5] }}');
      var quantity = 1;
    
      // calculate total amount
      function calculateTotalAmount() {
        var totalAmount = rate * quantity;
        $('.total-amount').text(totalAmount);
      }
    
      // minus button click event
      $('.minus-btn').click(function() {
        if (quantity > 1) {
          quantity--;
          $('.qty-input').val(quantity);
          calculateTotalAmount();
        }
      });
    
      // plus button click event
      $('.plus-btn').click(function() {
        if (quantity < parseInt('{{ product[4] }}')) {
          quantity++;
          $('.qty-input').val(quantity);
          calculateTotalAmount();
        }
      });
    
      // quantity input change event
      $('.qty-input').change(function() {
        var value = parseInt($(this).val());
        if (value >= 1 && value <= parseInt('{{ product[4] }}')) {
          quantity = value;
          calculateTotalAmount();
        } else {
          $(this).val(quantity);
        }
      });
    
      // place order button click event
      $('.place-order-btn').click(function() {
        var totalAmount = rate * quantity;
        var message = "Thank you for placing an order for " + quantity + " bags of " + "{{ product[1] }}" + "!";
        alert(message);
      });
    });
    </script>
    

{% endblock %}