{% extends 'base.html' %}

{% block title %}Customer OTP - Senthur Traders {% endblock %}

{% block head %}

{% endblock %}
{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h4 class="text-center mb-4">OTP sent to +91 {{number}}</h4>
        <h2 class="text-center mb-4">Enter the four digit OTP</h2>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <form class="row g-3" method="post" action="{{ url_for('verifyotp', number=number, user=user) }}">
              <div class="col-md-3">
                <input type="text" class="form-control" name="otp1" id="otp1" placeholder="-" maxlength="1" required>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" id="otp2" name="otp2" placeholder="-" maxlength="1" required>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" id="otp3" name="otp3" placeholder="-" maxlength="1" required>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control" id="otp4" name="otp4" placeholder="-" maxlength="1" required>
              </div>
              <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary w-100">Verify</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}