{% extends 'base.html' %}
{% block title %} Verify Customer - Senthur Traders{% endblock %}
{% block head %}
<style>
    #page-info{
        color: rgb(153, 14, 14);
    }
    .user-space{
    height: 90px;
    width: 100%;

}
nav{
    margin-bottom: 10px;
    background-color: beige;
}
</style>

{% endblock %}
{% block body %}
    
      <main role="main" class="main-content col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="user-space"></div>
      </main>

      <div class="container">
        <h1>Verify Customer Details</h1>
        <hr>
  
        <div class="row">
          <div class="col-md-6">
            <h2>Unverified Customer List</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Full Name</th>
                  <th>Mobile</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for customer in customers %}
                <tr>
                  <td>{{ customer[0]}}</td>
                  <td>{{ customer[1] }}</td>
                  <td>{{ customer[3] }}</td>
                  <td>
                    <a href="/edit/{{ customer[0] }}">verify</a>
                    <a href="/delete/{{ customer[0] }}">delete</i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <!-- Bootstrap 5 JS (Required for Bootstrap Features) -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
      
    </div>
  </div>

{% endblock %}