{% extends 'base.html' %}
{% block title %} Make Purchase - Senthur Traders{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container mt-5">
  <h1 class="mb-4">Make Purchase</h1>
  <div class="row">
    <div class="col-md-6">
      <form method="POST" name="default">
        <div class="mb-3">
          <label for="product" class="form-label">Product Name</label>
            <select class="form-select" id="product" name="product">
              {% for product in products %}
                <option value="{{ product[1] }}">{{ product[1] }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="mb-3">
          <label for="supplier" class="form-label">Supplier</label>
            <select class="form-select" id="supplier" name="supplier">
              {% for supplier in suppliers %}
              <option value="{{ supplier[0] }}">{{ supplier[0] }}</option>
              {% endfor %}
            </select>
        </div>
        <a href = "/purchase/2"><button type="button" class="btn btn-primary">Next</button></a>
      </form>
    </div>
    {% if page == 2 or page == 3 %}
    <div class="col-md-6" id="details">
      <form method="POST" name="second">
        <div class="mb-3">
          <label for="bag" class="form-label">Bag (kg)</label>
          <select class="form-select" id="bag" name="bag" disabled>
            {% for product in products %}
            <option value="{{ product[0] }}">{{ product[0] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="number" class="form-control" id="quantity" name="quantity">
        </div>
        <a href = "/purchase/3"><button type="button" class="btn btn-primary">Make Purchase</button></a>
      </form>
    </div>
  </div>
  {% endif %}
  {% if page == 3 %}
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <div id="purchase-info">
        <h3>Purchase Done</h3>
        <p>Amount: Rs. <span id="amount"></span></p>{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
