{% extends 'base.html' %}
{% block title %} Sales by Employee - Senthur Traders{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container">
    <h1>Sales Form</h1>
    <form action="/salesemp2/" method="post">
      <div class="form-group">
        <label for="customer-name">Customer Name</label>
        <select class="form-control" id="customer-name" name="customer-name">
          {% for customer in customers %}
          <option value="{{ customer }}">{{ customer[1] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="product-name">Product Name</label>
        <select class="form-control" id="product-name" name="product-name">
          {% for product in products %}
          <option value="{{ product }}">{{ product[1] }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Next</button>
    </form>
  </div>

{% endblock %}