{% extends 'base.html' %}


{% block title %}Home - Senthur Traders {% endblock %}

{% block head %} 
<style>
  .logo-name{
    color: #0D47A1;
    font-family:Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: .08em;
    }
  .logo-image{
    max-width: 60px; 
    height: auto;
    }
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(111, 0, 255);
    }
  html, body {
    height: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  .content {
    flex: 1;
  }
  body {
    padding-top: 80px; 
    background-color: #cdecc7;
    background-size: cover;
  }
  .modal-content {
    background-color: #afe2b1;
  }
  .btn-secondary:hover {
    background-color: #d48235;
  }
</style>
{% endblock %}

{% block body %}
<!--header-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container-fluid">
      <img src="{{url_for('static',filename='logo.png')}}" alt="Senthur Traders" class="logo-image">
        <span class="logo-name">Senthur Traders</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#location">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Login/SignUp</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--header end-->
<!--HomePage Content-->
  <div class="container">
    <div class="row justify-content-center my-5">
      <div class="col-lg-8 text-center">
        <h1 class="display-4 mb-3" style="font-weight: bold; font-size: 3rem;"><img src="{{url_for('static',filename='logo.png')}}" alt="logo">SENTHUR TRADERS</h1><br>
        <p class="lead mb-5 fw-medium">Welcome to Senthur Traders, your one-stop destination for high-quality rice! We offer over 25 different types of rice, carefully selected and sourced to meet the needs of our customers.</p>
        <p class="lead mb-5 fw-medium">At Senthur Traders, we understand that every customer has unique preferences and tastes, which is why we offer a special order service for any rice that may not be currently available in our store. Simply let us know your requirements, and we'll do our best to source the rice you need.</p>
        <p class="lead mb-5 fw-medium">Our online web application allows for easy customer and employee login, providing a hassle-free way to manage the ordering process. Whether you're a regular customer or a first-time visitor, we aim to make your shopping experience with us as smooth and convenient as possible.</p>
        <p class="lead mb-5 fw-medium">Thank you for choosing Senthur Traders as your go-to source for rice. We look forward to serving you!</p>          <h2 class="mb-3" id="products" style="font-weight: bold; font-size: 2.5rem;">Products</h2>
        <h3 class="mb-3">Brands</h3>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Annamalai</h5>
                <p class="card-text">Available in 10kg and 26kg bags</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Ragavendhra</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Ramakrishna</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Gokulam</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Ramana</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Jaya dhanam</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Sangu</h5>
                <p class="card-text">Available in 10kg and 26kg bags</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Aadhiyogi</h5>
                <p class="card-text">Available in 10kg and 26kg bags</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Mahalakshmi</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">VIP gold Idly arisi</h5>
                <p class="card-text">Available in 5kg and 10kg bags</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Bell Idly arisi</h5>
                <p class="card-text">Available in 5kg, 10kg and 26kg bags</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Sivaji</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">SSB</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Nila</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Kannika</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Rajagopuram Kurunai</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Anamalai Kurunai</h5>
              </div>
            </div>
          </div>
 <!-- add more rice brands here using the same card layout -->
        </div>
        <div class="container my-5">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h3 class="mb-3" id="location" style="font-weight: bold; font-size: 2.5rem;">Our Locations</h3>
              <p class="mb-5 fw-medium">Visit us at our main location:</p>
              <h5 class="mb-3" style="font-weight: bold;">Senthur Traders</h5>
              <p class="mb-5">Palladam Main Road, Murugampalayam, Tiruppur - 641 687</p>
              <p class="mb-5 fw-medium">Coming soon to Coimbatore and Erode!</p>
            </div>
          </div>
        </div>
      <div class="container">
        <h2 id="contact">Contact Information</h2>
          <p>Name: <b>K M Nithesh Saran</b></p>
          <p>Phone Numbers: </p>
          <ul class="list-unstyled">
            <li><a href="tel:+919566412523">95664 12523</a></li>
            <li><a href="tel:+917904427583">79044 27583</a></li>
          </ul>
          <p>Email: <a href="mailto:senthurtraderstiruppur@gmail.com">senthurtraderstiruppur@gmail.com</a></p>
        </div>          
      </div>
    </div>
  </div>


<!-- Login Alert dialog box -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SignUp/Login as</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#customerLogin" data-bs-dismiss="modal"><p>Customer</p></a>
        <a href="#" class="btn btn-secondary" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#employeeLogin" data-bs-dismiss="modal"><p>Employee</p></a>
      </div>
    </div>
  </div>
</div>

<!--customer login box-->
<div class="modal fade" id="customerLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required>
          </div>
          <button type="submit" class="btn btn-primary mb-3">Login</button>
        </form>
        <p>Don't have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#customerSignUp" data-bs-dismiss="modal">Sign up</a></p>
        <p>Forgot your password? <a href="#">Reset</a></p>
      </div>
    </div>
  </div>
</div>

<!--Employee login box-->
<div class="modal fade" id="employeeLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form action="/v" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required>
          </div>
          <button type="submit" class="btn btn-primary mb-3">Login</button>
        </form>
        <p>Forgot your password? <a href="#">Reset</a></p>
      </div>
    </div>
  </div>
</div>

<!---customer signup-->
<div class="modal fade" id="customerSignUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" required>
          </div>
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" required>
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" required>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required>
          </div>
          <div class="mb-3">
            <label for="retypepassword" class="form-label">Retype Password</label>
            <input type="password" class="form-control" id="retypepassword" required>
          </div>
          <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}